<ion-content fullscreen scroll-y="false">
    <ion-slides class="bg-color" pager="true" [options]="slideOpts">
        <ion-slide>

            <div class="one">
                <div class="thanks">
                    <h1>{{'WELCOME.thanks'|translate}}</h1>
                    <img src="../../../assets/img/celebration.svg">
                </div>
                <div class="select-language">
                    <h3>{{'WELCOME.please_language'|translate}}</h3>
                    <ion-item>
                        <ion-label>{{'WELCOME.select.label'|translate}}</ion-label>
                        <ion-select placeholder="{{'WELCOME.select.placeholder'|translate}}"
                            (ionChange)="onLangChanged($event)">
                            <ion-select-option value="eu">Euskara</ion-select-option>
                            <ion-select-option value="es">Español</ion-select-option>
                            <ion-select-option value="en">English</ion-select-option>
                            <ion-select-option value="fr">Français</ion-select-option>
                        </ion-select>
                    </ion-item>
                </div>

            </div>
        </ion-slide>
        <ion-slide>
            <div class="two">
                <h1 style="text-align: center;">{{'WELCOME.title.information'|translate}}</h1>


                <ion-text>
                    {{'WELCOME.info.p1'|translate}}
                </ion-text>

                <img src="../../../assets/img/question.svg" style="height: 200px;">

                <ion-text style="margin-top: 5px;">
                    {{'WELCOME.info.p2'|translate}}
                </ion-text>

            </div>
        </ion-slide>

        <ion-slide>
            <div class="three">


                <ion-text>
                    {{'WELCOME.info.p3'|translate}}
                </ion-text>

                <ion-button (click)="onRegisterClick()" [disabled]="!langSelected">
                    {{'WELCOME.register'|translate}}
                    <ion-icon slot="end" name="arrow-forward"></ion-icon>
                </ion-button>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>

<!-- TODO: Traducción -->