<ion-content fullscreen class="ion-padding" scroll-y="false">
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <h1>{{'WELCOME.thanks'|translate}}</h1>
            <div class="slide" style="justify-content: center;">
                <div class="content">
                    <h2>{{'WELCOME.please_language'|translate}}</h2>
                    <ion-item>
                        <ion-label>{{'WELCOME.select.label'|translate}}</ion-label>
                        <ion-select placeholder="{{'WELCOME.select.placeholder'|translate}}"
                            (ionChange)="onLangChanged($event)">
                            <ion-select-option value="eu">Euskara</ion-select-option>
                            <ion-select-option value="es">Español</ion-select-option>
                            <ion-select-option value="en">English</ion-select-option>
                            <ion-select-option value="fr">Français</ion-select-option>
                        </ion-select>
                    </ion-item>
                </div>

            </div>
        </ion-slide>
        <ion-slide>
            <div class="slide">
                <div class="content">
                    <h1>{{'WELCOME.title.information'|translate}}</h1>
                    <p align="justify">
                        {{'WELCOME.info.p1'|translate}}
                        <br />
                        {{'WELCOME.info.p2'|translate}}
                    </p>
                </div>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="slide">
                <div class="content">
                    <h1>{{'WELCOME.title.information'|translate}}</h1>
                    <p align="justify">
                        {{'WELCOME.info.p3'|translate}}
                    </p>
                </div>
                <ion-button fill="none" (click)="onRegisterClick()" [disabled]="!langSelected">
                    {{'WELCOME.register'|translate}}
                    <ion-icon slot="end" name="arrow-forward"></ion-icon>
                </ion-button>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>

<!-- TODO: Traducción -->