<div [formGroup]="parentForm">
    <ion-card>
        <!-- <ion-card-title>Answer this question</ion-card-title> -->
        <ion-card-content>
            {{ question.text }}
            <span class="error-message">{{
                question.options.required ? '*' : ''
            }}</span>
        </ion-card-content>
        <ion-radio-group formControlName="{{ question._id }}">
            <ng-container *ngFor="let answer of question.possibleAnswers">
                <ion-item>
                    <ion-label>{{ answer }}</ion-label>
                    <ion-radio value="{{ answer }}"></ion-radio>
                </ion-item>
            </ng-container>
        </ion-radio-group>
    </ion-card>
</div>
