<div [formGroup]="parentForm">
    <ion-card>
        <!-- <ion-card-title>Answer this question</ion-card-title> -->
        <ion-card-content>
            {{ question.text }}
            <span class="error-message">{{
                question.options.required ? '*' : ''
            }}</span>
        </ion-card-content>
        <ion-radio-group formControlName="{{ question._id }}">
            <ion-item>
                <ion-label>{{ 'likert.sd' | translate }}</ion-label>
                <ion-radio value="sd"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>{{ 'likert.d' | translate }}</ion-label>
                <ion-radio value="d"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>{{ 'likert.n' | translate }}</ion-label>
                <ion-radio value="n"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>{{ 'likert.a' | translate }}</ion-label>
                <ion-radio value="a"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>{{ 'likert.sa' | translate }}</ion-label>
                <ion-radio value="sa"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-card>
</div>
