<div [formGroup]="parentForm">
    <ion-label
        >{{ question.text }}
        <span class="error-message">{{
            question.options.required ? '*' : ''
        }}</span></ion-label
    >
    <ion-item>
        <ng-container [ngSwitch]="question.options.datetimeFormat">
            <ion-label *ngSwitchCase="'date'">{{
                'datetime.date' | translate
            }}</ion-label>
            <ion-label *ngSwitchCase="'time'">{{
                'datetime.time' | translate
            }}</ion-label>
            <ion-label *ngSwitchDefault>{{
                'datetime.datetime' | translate
            }}</ion-label>
        </ng-container>

        <ion-datetime
            [displayFormat]="datetimeFormat"
            formControlName="{{ question._id }}"
        ></ion-datetime>
    </ion-item>

    <div *ngFor="let error of errorMessages[question._id]">
        <ng-container *ngIf="showingErrors(error.type)">
            <div class="error-message">
                <ion-icon name="alert" size="small"></ion-icon
                >{{ error.message }}
            </div>
        </ng-container>
    </div>
</div>
