<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'SETTINGS.title' |translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="delete-info">
      <ion-text>{{ 'SETTINGS.delete_info' |translate}}</ion-text>
      <ion-button (click)="deleteUserData()" color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>


    </div>

    <div class="lang-select">
      <ion-text>{{ 'SETTINGS.select_language' |translate}}</ion-text>
      <ion-item>
        <ion-select placeholder="{{ 'SETTINGS.select_one' |translate}}" (ionChange)="onLangChanged($event)">
          <ion-select-option value="eu">Euskara</ion-select-option>
          <ion-select-option value="es">Español</ion-select-option>
          <ion-select-option value="en">English</ion-select-option>
          <ion-select-option value="fr">Français</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <div class="set-password">
      <ion-text>{{ 'SETTINGS.set_password' |translate}}</ion-text>
      <ion-button color="secondary" (click)="setPassword()">OK</ion-button>
    </div>
  </div>
</ion-content>