<!-- Back button with a default href -->
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'USER.title' |translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <!-- TODO: Poner bonito... Arreglar esto -->
        <!-- <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
        </ion-card-header> -->

        <ion-card-content>
            <ion-list>
                <ng-container *ngFor="let question of userQ.questions">
                    <ion-item
                        [ngClass]="getClass(question)"
                        *ngIf="hasAnswer(question._id)"
                    >
                        <ion-label>
                            <ion-label class="ion-text-wrap">
                                <ion-text style="font-weight: bold;">
                                    {{question.text}}
                                </ion-text>
                            </ion-label>
                            <ion-label class="ion-text-wrap">
                                <ion-text> {{ getAnswer(question)}}</ion-text>
                            </ion-label>
                        </ion-label>
                    </ion-item>
                </ng-container>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-button (click)="navigateEdit()"
        >{{'USER.edit_information' | translate}}</ion-button
    >
    <ion-button *ngIf="updateAvaliable" (click)="navigateUpdate()"
        >{{'USER.update_survey' | translate}}</ion-button
    >
</ion-content>
