<ng-container *ngIf="question.options.slider == 'true'">
    <ion-label>{{ question.text }}</ion-label>
    <ion-item>
        <ion-range
            min="{{ question.options.minValue }}"
            max="{{ question.options.maxValue }}"
            pin="true"
            value="{{
                (question.options.minValue + question.options.maxValue) / 2
            }}"
        >
            <ion-label slot="start">{{ question.options.minValue }}</ion-label>
            <ion-label slot="end">{{ question.options.maxValue }}</ion-label>
        </ion-range>
    </ion-item>
</ng-container>
<ng-container *ngIf="question.options.slider == 'false'">
    <ion-label>{{ question.text }}</ion-label>
    <ion-item>
        <ion-input
            type="number"
            min="{{ question.options.minValue }}"
            max="{{ question.options.maxValue }}"
            maxlength="{{ question.options.digits }}"
            minlength="{{ question.options.digits }}"
        >
        </ion-input>
    </ion-item>
</ng-container>
