<div [formGroup]="parentForm">
    <ng-container *ngIf="question.options.size == 'small'; else big">
        <ion-label>{{ question.text }}</ion-label>
        <ion-item>
            <ion-input formControlName="{{ question.Q_ID }}"></ion-input>
        </ion-item>
    </ng-container>

    <ng-template #big>
        <ion-label>{{ question.text }}</ion-label>
        <ion-item>
            <ion-textarea formControlName="{{ question.Q_ID }}"></ion-textarea>
        </ion-item>
    </ng-template>
</div>
