<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container *ngTemplateOutlet="likert"></ng-container>
  <ng-container *ngTemplateOutlet="textbox"></ng-container>
  <ng-container *ngTemplateOutlet="number"></ng-container>


  <!-- TEMPLATE DE UN LIKERT ESTÁTICO -->
  <ng-template #likert>
    <ion-card>
      <ion-card-title>Answer this question</ion-card-title>
      <ion-card-content>
        Me siento sexualmente identificado con un helicóptero de ataque.
      </ion-card-content>
      <ion-radio-group>
        <ion-item>
          <ion-label>Strongly Disagree</ion-label>
          <ion-radio></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Disagree</ion-label>
          <ion-radio></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Neutral</ion-label>
          <ion-radio></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Agree</ion-label>
          <ion-radio></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Strongly Agree</ion-label>
          <ion-radio></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card>
  </ng-template>


  <ng-template #textbox>
    <ion-label position="stacked">Esto es un ejemplo de pregunta abierta de tipo Textbox grande</ion-label>
    <ion-item>
      <ion-input placeholder="Enter Input"></ion-input>
    </ion-item>
  </ng-template>

  <ng-template #number>
    <ion-label position="stacked">Esto es un ejemplo de pregunta abierta de tipo number 6 digitos</ion-label>
    <ion-item>
      <ion-input type="number" placeholder="Enter Input"></ion-input>
    </ion-item>
  </ng-template>




</ion-content>