.error-message {
    color: var(--ion-color-danger);
}

.tick-showing {
    color: var(--ion-color-primary);
    visibility: visible;
}

.tick-hidden {
    visibility: hidden;
}
.modal-class {
    ion-backdrop {
        --backdrop-opacity: 0.33;
    }
}
