<ion-header>
    <ion-toolbar>
        <ion-buttons
            slot="start"
            [ngStyle]="firstRegister ? {display: 'none'}: {display: 'block'} "
        >
            <ion-back-button defaultHref="user"></ion-back-button>
        </ion-buttons>
        <ion-title>UserQuest</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form [formGroup]="parentForm" (ngSubmit)="submit()">
        <ng-container *ngFor="let question of userQ.questions">
            <ng-container [ngSwitch]="question.type">
                <app-template-textbox
                    [ngStyle]="showingQuestion(question)"
                    *ngSwitchCase="'textbox'"
                    [question]="question"
                    [parentForm]="parentForm"
                    [errorMessages]="errorMessages"
                ></app-template-textbox>

                <app-template-number
                    [ngStyle]="showingQuestion(question)"
                    *ngSwitchCase="'number'"
                    [question]="question"
                    [parentForm]="parentForm"
                    [errorMessages]="errorMessages"
                >
                </app-template-number>

                <app-template-likert
                    [ngStyle]="showingQuestion(question)"
                    *ngSwitchCase="'likert'"
                    [question]="question"
                    [parentForm]="parentForm"
                ></app-template-likert>

                <app-template-datetime
                    [ngStyle]="showingQuestion(question)"
                    *ngSwitchCase="'datetime'"
                    [question]="question"
                    [parentForm]="parentForm"
                    [errorMessages]="errorMessages"
                ></app-template-datetime>

                <app-template-yesno
                    [ngStyle]="showingQuestion(question)"
                    *ngSwitchCase="'yesno'"
                    [question]="question"
                    [parentForm]="parentForm"
                ></app-template-yesno>

                <app-template-radio
                    [ngStyle]="showingQuestion(question)"
                    *ngSwitchCase="'radio'"
                    [question]="question"
                    [parentForm]="parentForm"
                ></app-template-radio>

                <app-template-multiselect
                    [ngStyle]="showingQuestion(question)"
                    *ngSwitchCase="'multiselect'"
                    [question]="question"
                    [parentForm]="parentForm"
                    [errorMessages]="errorMessages"
                ></app-template-multiselect>

                <app-template-colective
                    *ngSwitchCase="'colective'"
                    [question]="question"
                    [parentForm]="parentForm"
                    [errorMessages]="errorMessages"
                    [colectives]="colectives"
                ></app-template-colective>

                <div
                    *ngSwitchCase="'geolocation'"
                    [ngStyle]="showingQuestion(question)"
                >
                    <ion-label
                        >{{question['text'+lang]}}
                        <span class="error-message"
                            >{{ question.options.required ? "*" : "" }}</span
                        ></ion-label
                    >
                    <ion-item (click)="openMapModal(question._id)"
                        ><ion-label>Choose the location</ion-label>
                        <ion-icon
                            slot="end"
                            name="checkmark"
                            [className]="parentForm.controls[question._id].valid ? 'tick-showing': 'tick-hidden'"
                        ></ion-icon>
                    </ion-item>
                </div>

                <div *ngSwitchDefault>ELSE: {{question.text}}</div>
            </ng-container>
        </ng-container>
        <ion-button
            [disabled]="!canSubmit()"
            type="submit"
            expand="block"
            shape="round"
            >Submit <ion-icon slot="end" name="create"> </ion-icon>
        </ion-button>
    </form>
</ion-content>
