<ion-header>
    <ion-toolbar>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="content">
        <div class="ion-padding titulo">
            <h1 align="center">Hate Crime Analyzer</h1>
        </div>
        <div class="svg">
            <img src="../../assets/img/undraw_Notify_re_65on.svg">
        </div>
        <div class="home-buttons">
            <ion-button (click)="goToReport()">Reportar incidente anterior</ion-button>

            <ion-button (click)="goToReportAutoPlaceAndDate()">Reportar incidente que acaba de ocurrir aquí
            </ion-button>

            <ion-button routerLink="/user">Información del usuario</ion-button>


            <ion-button routerLink="/settings">Ajustes</ion-button>
        </div>
    </div>
</ion-content>