<ion-header>
    <ion-toolbar color="primary">
        <ion-title align="center">
            {{'HOME.title' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="content">
        <div class="ion-padding titulo">
            <h1 align="center">Hate Crime Analyzer</h1>
        </div>
        <div class="svg">
            <img src="../../assets/img/notify.svg">
        </div>
        <div class="home-buttons">

            <div class="report-buttons">
                <ion-text text-center>
                    <h3 style="margin-bottom: 20px;"> {{'HOME.report_an_incident' | translate}}</h3>
                </ion-text>
                <ion-button (click)="goToReport()">{{'HOME.button.report' | translate}}</ion-button>
                <ion-button (click)="goToReportAutoPlaceAndDate()">{{'HOME.button.report_auto' | translate}}
                </ion-button>
            </div>

            <div class="options-buttons">
                <ion-button routerLink="/user">
                    {{'HOME.button.profile' | translate}}<ion-badge *ngIf="userQUpdateAvaliable" color="warning">!
                    </ion-badge>
                </ion-button>
                <ion-button routerLink="/settings">{{'HOME.button.settings' | translate}}</ion-button>
            </div>

        </div>
    </div>
</ion-content>