<ion-header>
    <ion-toolbar>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <h1 align="center">Hate Crime Analyzer</h1>
    </div>

    <ion-button style="margin-top: 15em;" expand="block" (click)="goToReport()"
        >Report</ion-button
    >
    <br />
    <ion-button expand="block" (click)="goToReportAutoPlaceAndDate()"
        >Report here and now</ion-button
    >
    <br />
    <ion-button expand="block" routerLink="/user">User</ion-button><br />
    <ion-button expand="block" routerLink="/welcome-slides"
        >Welcome slides</ion-button
    >
    <br />
    <ion-button expand="block">Settings</ion-button>
</ion-content>
